body {
  font-family: sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
  background-color: rgb(169, 185, 199);
  border: 2px solid violet;
}

.flexContainer { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed black;
margin: 50px;
margin-left: 100px;
margin-right: 100px;
<!--can also write 4 values to set margins-->
}